---
import { Image } from 'astro:assets';
import photo from '../assets/me.jpg'
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const projects = [{
	title: "My Duo",
	description: "My version of Duolingo for learning Finnish",
	href: "https://my-duo.vercel.app/",
}
 ]

const posts = await getCollection('blog')
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<Layout>
	<div class="flex gap-3 items-center">
          <Image
            src={photo}
            alt="Photo of Denis Davydov"
            fetchpriority="high"
            height="48"
            width="48"
			class="rounded-full"
			densities={[2, 2]}
          />
        <div class="flex flex-col">
          <span class="text-xl text-semibold">Denis Davydov</span>
          <span class="text-gray-500 text-sm">Full-Stack Developer</span>
        </div>
      </div>

	  	<h2 class="text-xl font-medium mb-2 mt-6">About</h2>
		<p class="font-normal">Skilled full-stack developer with 3+ years of <a href="/experience" class="text-blue-600 hover:text-blue-500">experience</a> in React, TypeScript, and Node.js. Strong in agile workflows, handling both frontend and backend tasks. Eager to build scalable, high-quality solutions and drive impactful projects.</p>

	  	<h2 class="text-xl font-medium mb-2 mt-10">Projects</h2>
	  	<ul>
			{projects.map((({title, description, href}) => (
				<li>
					
					<a href={href} class="font-medium text-blue-600 hover:underline" target="_blank">
						{title}
					</a>
					<p class="text-gray-600 text-sm">{description}</p>
				</li>
			)))}
		</ul>
		
		<h2 class="text-xl font-medium mb-2 mt-10">Writing</h2>
		<ul>
			{posts.map((post) => (
				<li>
					<a href={`/blog/${post.slug}`} class="font-medium text-blue-600 hover:underline">
						{post.data.title}
					</a>
					<p class="text-gray-600 text-sm">{post.data.description}</p>
				</li>
			))}
		</ul>
</Layout>
